/**
 * Table of Contents for FoundationPress:
 *
 * 1.0 - Custom settings
 * 2.0 - Typography
 * 3.0 - Header, sidebar and footer
 * 4.0 - Content
 *	4.1 - Pages
 *	4.2 - Posts
 *	4.3	- Widgets
 *	4.4 - Comments
  *	4.5 - Lists
  * 4.6 - Forms
 * 5.0 - Plugins

 * ----------------------------------------------------------------------------
 */


/**
 * 1.0 Custom settings
 * ----------------------------------------------------------------------------
 */


// Reset margin and padding on figure element
figure { 
	margin: 0; 
	padding: 0;
}

// Add some basic styling for figcaption element
figcaption {
	margin-bottom: rem-calc(20);
	margin-top: rem-calc(10); 
	color: #6f6f6f; 
}

// Add the alignment classes used by the WordPress media library

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

blockquote.alignleft,
img.alignleft {
	margin: rem-calc(7) rem-calc(24) rem-calc(7) 0;
}

.wp-caption.alignleft {
	margin: rem-calc(7) rem-calc(14) rem-calc(7) 0;
}

blockquote.alignright,
img.alignright {
	margin: rem-calc(7) 0 rem-calc(7) rem-calc(24);
}


// Add some whitespace between top bar and content
.top-bar-container, .tab-bar {
	margin-bottom: rem-calc(32);
}

// Fix the issue where the WP adminbar overlaps the mobile menu
#wpadminbar {
	position: fixed !important;
}

/**
 * 2.0 Typography
 * ----------------------------------------------------------------------------
 */

// Insert styles here


/**
 * 3.0 Header, sidebar and footer
 * ----------------------------------------------------------------------------
 */
 
@media #{$medium-up} {
  .top-bar-container {
    padding-top:20px;
  }

  .top-bar .name h1 a {
    padding: 0;
    margin: 0 20px;
    width: 161px;
    background-image:url(../assets/img/logo.png);
    background-size:contain;
    background-repeat:no-repeat;
    text-indent:-9999px;
    overflow:hidden;
    
    .svg & {
      background-image:url(../assets/img/logo.svg);
    }
  }
}
@media #{$large-up} {
  .top-bar-container {
    padding-top:30px;
  }
}

// top menu - right

.top-bar-section li.active:not(.has-form) a:not(.button),
.top-bar-section li.active:not(.has-form) a:hover:not(.button) {
  background-color:darken($topbar-bg-color, 10%);
}
.top-bar-section li:not(.has-form) a:hover:not(.button) {
  background-color:darken($topbar-bg-color, 5%);
}

.top-bar-section li.twitter-icon a,
.top-bar-section li.facebook-icon a,
.top-bar-section li.twitter-icon:not(.has-form) a:not(.button),
.top-bar-section li.facebook-icon:not(.has-form) a:not(.button) {
  width:30px;
  overflow:hidden;
  text-indent:-9999px;
  background-image:url(../assets/img/icons/menu-icons.png);
  background-position:6px center;
  background-size:auto 30px;
  background-repeat:no-repeat;
}
.top-bar-section li.facebook-icon a,
.top-bar-section li.facebook-icon:not(.has-form) a:not(.button) {
  background-position:-44px center;
}


// top menu - left
.top-bar-section {
  .top-bar-menu.left {
    position:absolute;
    top:$topbar-height;
    left:0;
    z-index:2;
    
    li {
      background-color:transparent;
      
      > a,
      &:hover:not(.has-form) > a  {
        color: #fff;
      }
      > a {
        @media #{$large-up} {
          font-size:rem-calc(22);
        }
      }
      
      &:not(.has-form) a:not(.button) {
        background-color:inherit;
      }
      
      &.active:not(.has-form) a:not(.button),
      &.active:not(.has-form) a:hover:not(.button) {
        background-color:rgba(255,255,255,0.05);
      }
      
      &:not(.has-form) a:hover:not(.button) {
        background-color:rgba(255,255,255,0.10);
      }
    }
    
    & > .divider {
      display:none;
    }
  }
}

.menu-bg {
  height:$topbar-height;
  background-color:$primary-color;
  display:none;
  position:relative;
  z-index:1;
  margin-top: - rem-calc(32);
  margin-bottom: rem-calc(32);
  
  @media #{$medium-up} {
    display: block;
  }
}

.inner-wrap {
  background-color:#fff;
}

.dark {
  background-color:$dark-color;
  color:#fff;
  
  abbr, acronym {
    color:inherit;
  }
}

// Add some whitespace above the footer for medium-up screens
@media #{$medium-up} {
	footer.row {
		margin-top: rem-calc(60);
	}
}


/**
 * 4.0 Content
 * ----------------------------------------------------------------------------
 */


	/**
	 * 4.1 Pages
	 * ------------------------------------
	 */

// Home
.page-template-hero-php {
	#homepage-hero {
		margin-top: - rem-calc(32);
    margin-bottom:0;
		position: relative;
		text-align: left;
		height: auto;
    
    .slide { 
      background-color:lighten($primary-color, 52%);
      background-position:center top;
      background-size:cover;
      font-size:rem-calc(25);
      line-height:1.4;
      
      .menu-bg {
        margin-top:0;
        margin-bottom:0;
        opacity:0.7;
      }
      
      h2 {
        color:$primary-color;
        margin:0;
      }
      
      .text {
        padding-top:30px;
        min-height:340px;
        
        & > div {
          padding-bottom:15px;
        }
      }
      
      &.orange {
        background-color:lighten($secondary-color, 52%);
        .menu-bg {
          background-color:$secondary-color;
        }
        h2 {
          color:$secondary-color;
        }
      }
      
      &.red {
        background-color:lighten($alert-color, 52%);
        .menu-bg {
          background-color:$alert-color;
        }
        h2 {
          color:$alert-color;
        }
      }
      
      &.green {
        background-color:lighten($success-color, 52%);
        .menu-bg {
          background-color:$success-color;
        }
        h2 {
          color:darken($success-color, 5%);
        }
      }
    }
    
    .image {
      height:435px;
      margin-top:-$topbar-height;
      
      img {
        position:absolute;
        top:0;
        right:0;
        max-width:none;
      }
      @media #{$large-up} {
        display:block;
      }
    }
    
    .slick-dots {
      text-align:right;
      right:20px;
      bottom:0;
      display:none !important;
      
      @media #{$medium-up} {
        display:block !important;
      }
      @media #{$large-up} {
        bottom:65px;
      }
      
      li {
        margin:0;
      }
    }
	}
  
  .mailing-list {
    min-height:65px;
    background-color:#fff;
    background-color:rgba(255,255,255,0.70);
    position:relative;
    
    @media #{$large-up} {
      top:-65px;
    }
  }
  
  .home-icons {
    margin-bottom:30px;
    
    li {
      a {
        img {
          width:110px;
          height:110px;
          background-color:$primary-color;
          border-radius:50%;
          float:left;
          display:block;
        }
        
        .text {
          margin-left:135px;
          
          h3 {
            margin:0;
            font-size:rem-calc(20);
            line-height:1.1;
          }
          p {
            line-height:1.13;
            color:$body-font-color;
          }
        }
      }
      &:nth-child(4n+1) a img {
        background-color:$success-color; 
      }
      &:nth-child(4n+2) a img {
        background-color:$secondary-color; 
      }
      &:nth-child(4n) a img {
        background-color:$alert-color; 
      }
    }
  }
  
  section.home-widgets {
    padding-top:30px;
    padding-bottom:10px;
    
    .heading {
      @include grid-row();
      
      h6 {
        @include grid-column(12);
        color:#fff;
        text-transform:uppercase;
        margin-bottom:20px;
      }
    }
  }
}


	/**
	 * 4.2 Posts
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.3 Widgets
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.4 Comments
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.5 Lists
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.6 Forms
	 * ------------------------------------
	 */

	// Insert styles here


/**
 * 5.0 Plugins
 * ----------------------------------------------------------------------------
 */
section.home-widgets,
.inner-wrap > footer { 
  .lanyrd-target-splat {
    ol.lanyrd-listing {
      @include grid-row();
      li.vevent {
        @include grid-column(12);
        position:relative;
        
        h3 {
          margin-bottom:4px;
          color:inherit;
          
          a {
            color:inherit;
          }
        }
        p {
          line-height:1.1;
          color:rgba(255,255,255,0.80);
          img {
            display:inline-block;
          }
          
          &.lanyrd-date {
            strong {
              font-weight:normal;
              color:rgba(255,255,255,0.80);
            }
          }
        }
        a {
          color:inherit;
          color:rgba(255,255,255,0.80);
        }
      }
      .slick-prev,
      .slick-next {
        margin-top:-30px;
      }
    }
  }
  @media #{$medium-up} {
    .lanyrd-target-splat.events-3,
    .lanyrd-target-splat.events-6,
    .lanyrd-target-splat.events-12,
    .lanyrd-target-splat.events-18,
    .lanyrd-target-splat.events-24,
    .lanyrd-target-splat.events-30 {
      ol.lanyrd-listing > li {
        @include grid-column(4);
      }
    }
    
    .lanyrd-target-splat.events-2,
    .lanyrd-target-splat.events-4,
    .lanyrd-target-splat.events-8,
    .lanyrd-target-splat.events-16 {
      ol.lanyrd-listing > li {
        @include grid-column(6);
      }
    }
    
    .slick-slider li.vevent:after {
      bottom: 0;
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      border-right:dotted 2px rgba(255,255,255,0.24);
    }
  }
}


.inner-wrap > .twitter {
  background-color:$primary-color;
  color:#fff;
  padding-top:20px;
  padding-bottom:20px;
  
  a {
    color:inherit;
  }
  
  .ttm-container {
    @include grid-row();
    background-image:url(../assets/img/icons/twitter.png);
    background-repeat:no-repeat;
    background-size:50px 41px;
    background-position:20px 5px;
    
    li {
      @include grid-column(12);
      padding-left:85px;
      line-height:1.2;
      @media #{$medium-up} {
        font-size:rem-calc(20);
      }
      
      img,
      .screen-name,
      .reply,
      .retweet,
      .favorite {
        display:none;
      }
    }
  }
}

.inner-wrap > .okf-footer {
  border:none;
  background-color:$dark-color;
  color:#fff;
  
  a {
    color:inherit;
  }
  
  .container {
    @include grid-row();
    
    & > ul {
      @include grid-column(12);
    }
  }
}
